<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="javascripts/login.js"></script>
    <script src="javascripts/validations.js"></script>

</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<form id="todo-input-form" action="/register" class="togglevisible" method="post">
    <div class="mb-3" >
        <p class="form-label">Email</p>
        <label for="email"></label><input type="email" id="Email" name="email" class="form-control" placeholder="type email here">
        <div class="text-danger errormessage"></div>
    </div>
    <div class="mb-3" >
        <p class="form-label">Password</p>
        <label for="Password"></label><input type="text" id="Password" name="password" class="form-control" placeholder="Password">
        <div class="text-danger errormessage"></div>
    </div>
    <div style="margin: 2%">
        <button class="btn btn-outline-secondary" type="submit" id="register-button">log in</button>
    </div>
</form>
<form action="/register" method="get">
    <button class="btn btn-outline-secondary" type="submit" id="register-button">Register</button>
</form>
</body>
</html>